<div id="owl-demo" class="owl-carousel">
 <% @users.each do |user| %>
 <div class="item lazyOwl"> 
  <div class="reveal">
    <%= image_tag(user.avatar.url(:medium)) %>
    <div class="overlay"></div>
    <div class="text">
      <p> <%= link_to user.first_name, "#", data: {toggle: "modal", target: "#myModal"+user.id.to_s} %><br><%= user.position%><br><%= user.company %></p>
    </div>
  </div>
</div> 
<% end %>
</div>




<% @users.each do |user| %>

<div class="modal fade" id="myModal<%= user.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <%= button_to "Send Message", "#", "data-sid" => current_user.id, "data-rip" => user.id, 
        :class => "btn btn-default right start-conversation", "data-dismiss"=>"modal" %>

        <h4 class="modal-title" id="myModalLabel"><%= user.first_name %>'s Profile</h4>
      </div>

      <div class="modal-body">

        <div><span class="glyphicon glyphicon-user" aria-hidden="true"></span>     <%= user.first_name %> </div>
        <br>
        <div> <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>     <%= user.position %> </div>
        <br>
        <div> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>     <%= user.company %></div>
        <br>
        <div> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>     <%= user.city %>, <%= user.country_code %></div>
        <% user.skill.shift %>
        <br>
        <div><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>  
          Expertise: <%= user.skill.join(" | ") %>
        </div>
        
        <% user.need.shift %>
        <br>
        <div><span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span>   
         Under construction: <%= user.need.join(" | ") %>
       </div>
       <br>
       <div><span class="glyphicon glyphicon-volume-up" aria-hidden="true"> </span>     <%= user.intro %></div>
       <br>
       <br>
       <br>
       <br>

       <a class="twitter-timeline" href="https://twitter.com/"+ <%= user.screen_name %> data-widget-id="636167451466682369"    data-chrome="transparent nofooter noborders"data-screen-name= <%= user.screen_name%>></a>
       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
       <br>

       <br>

     </div>


     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>

   </div>


 </div>
</div>


<% end %>
