
<!DOCTYPE html>
<html>
<head>
  <title>Comentorship</title>
 <%= stylesheet_link_tag    'application', media: 'all' %>



 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="owl-carousel/owl.theme.css">


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

</head>
<body>


<%= render 'layouts/nav' %>

<div class="container">

<%= yield %>




</div>


</body>


  <br>
   <br>
   <br>
   <br>
   <br>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="jquery-1.9.1.min.js"></script>

<script src="assets/owl-carousel/owl.carousel.js"></script>

</body>
</html>


